<?xml version='1.0' encoding='UTF-8' ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

  
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc.driverClassName}"
          p:url="${jdbc.url}"
          p:username="${jdbc.username}"
          p:password="${jdbc.password}"
    />
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" /> 
        <property name="annotatedClasses">
            <list>
                <value>com.livesexhouse.model.Chat</value> 
                <value>com.livesexhouse.model.Girls</value> 
                <value>com.livesexhouse.model.GirlsDoStuff</value> 
                <value>com.livesexhouse.model.GirlsDress</value> 
                <value>com.livesexhouse.model.GirlsHair</value> 
                <value>com.livesexhouse.model.GirlsM2m</value> 
                <value>com.livesexhouse.model.GirlsPiercing</value> 
                <value>com.livesexhouse.model.IpAddress</value> 
                <value>com.livesexhouse.model.UserBckData</value> 
                <value>com.livesexhouse.model.UserM2m</value> 
                <value>com.livesexhouse.model.Users</value> 
                <value>com.livesexhouse.model.VideoClip</value> 
                <value>com.livesexhouse.model.VideoCategories</value>
                <value>com.livesexhouse.model.VideoRoom</value>
                <value>com.livesexhouse.model.VideoM2m</value> 
                <value>com.livesexhouse.model.MemberHouse</value> 
                <value>com.livesexhouse.model.GirlsBreast</value> 
                <value>com.livesexhouse.model.Contact</value>
                <value>com.livesexhouse.controller.Setup</value> 
                <value>com.livesexhouse.model.VideoCategoryCountClip</value>
                <value>com.livesexhouse.model.VideoFileName</value>
                <value>com.livesexhouse.model.UserRoles</value>
                <value>com.livesexhouse.model.Order</value>
                <value>com.livesexhouse.model.OrderPayment</value>
                <value>com.livesexhouse.model.Membership</value>
                <value>com.livesexhouse.model.PricePackage</value>
                <value>com.livesexhouse.model.UsersBlacklist</value>
                <value>com.livesexhouse.model.UsersActivate</value>
                <value>com.livesexhouse.model.Online</value>
                <value>com.livesexhouse.model.ChatMembers</value>
                <value>com.livesexhouse.model.Participant</value>
                <value>com.livesexhouse.model.Heartbeat</value>
                <value>com.livesexhouse.model.KingRoom</value>
                <value>com.livesexhouse.model.Time</value>
                
                <value>com.livesexhouse.model.BlockedCountry</value>
                <value>com.livesexhouse.model.BlockedCountryM2m</value>
                <value>com.livesexhouse.model.BlockedRegion</value>
                <value>com.livesexhouse.model.BlockedRegionM2m</value>
                <value>com.livesexhouse.model.Body</value>
                <value>com.livesexhouse.model.Country</value>
                <value>com.livesexhouse.model.Decoration</value>
                <value>com.livesexhouse.model.Hair</value>
                <value>com.livesexhouse.model.InteresM2m</value>
                <value>com.livesexhouse.model.Kinky</value>
                <value>com.livesexhouse.model.KinkyM2m</value>
                <value>com.livesexhouse.model.Language</value>
                <value>com.livesexhouse.model.LanguageSpoken</value>
                <value>com.livesexhouse.model.Model</value>
                <value>com.livesexhouse.model.Interes</value>
                
                <value>com.livesexhouse.model.YourWish</value>
                <value>com.livesexhouse.model.YourWishAction</value>
                <value>com.livesexhouse.model.YourWishExtra</value>
                
                <value>com.livesexhouse.model.MembersRank</value>
                <value>com.livesexhouse.model.Order</value>
                <value>com.livesexhouse.model.OrderPayment</value>
                <value>com.livesexhouse.model.Membership</value>
                <value>com.livesexhouse.model.PricePackage</value>
                
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.search.default.directory_provider">filesystem</prop>
                <prop key="hibernate.search.default.indexBase">"/var/lucene/indexes"/</prop>
            </props>
        </property> 
        
    </bean>

    
      <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory" />
    
    </bean> 
    
    <tx:annotation-driven />
    <tx:advice id="txAdvice" >
        <tx:attributes>
            <tx:method name="get*" read-only="true" />
            <tx:method name="find*" read-only="true" />
            <tx:method name="*" />
        </tx:attributes>
    </tx:advice>
    
    
    
    
        <bean id="contactDao" class="com.livesexhouse.DAO.ContactDao" />
        <bean id="userDao" class="com.livesexhouse.DAO.UserDao" />
        <bean id="setupDao" class="com.livesexhouse.DAO.SetupDao" />
        <bean id="setup" class="com.livesexhouse.controller.Setup" />
        <bean id="videoDao" class="com.livesexhouse.DAO.VideoDao" />
        <bean id="videoM2mDao" class="com.livesexhouse.DAO.VideoM2mDao" />
        <bean id="videoRoomDao" class="com.livesexhouse.DAO.VideoRoomDao" />
        <bean id="videoCategoryCountClipDao" class="com.livesexhouse.DAO.VideoCategoryCountClipDao" />
        
        
        <bean id="memberHouseDao" class="com.livesexhouse.DAO.MemberHouseDao" />
        <bean id="pagination" class="com.livesexhouse.controller.Pagination" />
        <bean id="videoCategoryDao" class="com.livesexhouse.DAO.VideoCategoryDao" />
        <bean id="comparator" class="com.livesexhouse.controller.Comparator" />
        <bean id="nameGenerator" class="com.livesexhouse.controller.NameGenerator" />
        <bean id="videoFileNameDao" class="com.livesexhouse.DAO.VideoFileNameDao" />
        <bean id="frameGrabberDao" class="com.livesexhouse.controller.FrameGrabberDao" />
        <bean id="checker" class="com.livesexhouse.controller.Checker" />
        <bean id="saveVideoFile" class="com.livesexhouse.controller.SaveVideoFile" />
        <bean id="params" class="com.livesexhouse.controller.Params" />
        <bean id="redirect" class="com.livesexhouse.controller.Redirect" />
        <bean id="userM2mDAO" class="com.livesexhouse.DAO.UserM2mDAO" />
        <bean id="usersBlacklistDAO" class="com.livesexhouse.DAO.UsersBlacklistDAO" />
        <bean id="usersActivateDAO" class="com.livesexhouse.DAO.UsersActivateDAO" />
        <bean id="girlDao" class="com.livesexhouse.DAO.GirlDao" />
        <bean id="chatDAO" class="com.livesexhouse.DAO.ChatDAO" />
        <bean id="chatMembersDao" class="com.livesexhouse.DAO.ChatMembersDao" />
        <bean id="onlineDao" class="com.livesexhouse.DAO.OnlineDao" />
        <bean id="memberRankDao" class="com.livesexhouse.DAO.MemberRankDao" />
        <bean id="yourWishExtraDao" class="com.livesexhouse.DAO.YourWishExtraDao" />
        <bean id="yourWishActionDao" class="com.livesexhouse.DAO.YourWishActionDao" />
        <bean id="yourWishDao" class="com.livesexhouse.DAO.YourWishDao" />
        <bean id="participantDao" class="com.livesexhouse.DAO.ParticipantDao" />
        <bean id="googleMail" class="com.livesexhouse.controller.GoogleMail" />
        <bean id="heartbeatDao" class="com.livesexhouse.DAO.HeartbeatDao" />
        <bean id="kingRoomDao" class="com.livesexhouse.DAO.KingRoomDao" />
        <bean id="timeDao" class="com.livesexhouse.DAO.TimeDao" />
        <bean id="modelDao" class="com.livesexhouse.DAO.ModelDao" />
        
        
        <!--<bean id="orderService" class="com.livesexhouse.service.OrderService" />-->
        <!--<bean id="orderPaymentService" class="com.livesexhouse.service.OrderPaymentService" />-->
        
        
<!--       <bean id="pricePackageService" class="com.livesexhouse.service.PricePackageService;" />-->
        
        

          
    
    
</beans>
