/*----------  variables
------------------------------------------------------------------------------*/

// Sprites



// Colors
$white: #fff;
$black: #000;
$grey: #666;
$yellow: #ffff00;

$red: #ff0000;